<div class="container">
  <div class="filters">
    <a class="button" routerLink="/catalog/Heads">Heads</a>
    <a class="button" routerLink="/catalog/Arms">Arms</a>
    <a class="button" routerLink="/catalog/Torsos">Torsos</a>
    <a class="button" routerLink="/catalog/Bases">Bases</a>
    <a class="button" [routerLink]="['/catalog','All']">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts(filter)">
      <bot-product-component [product]="product" (buy)="addToCart(product)"></bot-product-component>
    </li>
  </ul>
</div>